/* --- colors --- 
-- Head -- 
Студия #2196F3; (голубой)  Портфолио #212121; (черный)  Контакты  #212121 (черный);
почта  #2196F3; (голубой)  телефон #757575 (серый);
Фон background: #FFFFFF (белый);

-- Hero --
Фон background: #2F303A (черный); Текст #FFFFFF (белый) ?  Кнопка: Текст #FFFFFF (белый) ?,
hover button #188CE8  
Фон #2196F3 (голубой) 

-- Features --
Фон background: #E5E5E5 (белый)
Внимание к деталям #212121 (черный); Пунктуальность #212121; Планирование #212121; Тех #212121;
Текст #F5F4FA (серый)

-- Чем мы занимаемся и Команда --
Фон #E5E5E5 (белый)
Заголовок Команда и имена #212121 (черный)
Фон в команде и должности #f5f4fa (серый)

-- footer --
Фон #2F303A (черный)
Адресс: #FFFFFF; почта и тел: #FFFFFF99;

*/
:root {
    --primary-bc-color: #E5E5E5;
    --secondary-bc-color: #2F303A;
    --team-bc-color: #F5F4FA;
    --white-bc-color: #FFFFFF; 
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    
}

.start-page {
    background-color: var(--white-bc-color);
     color: var(--primary-text-color);
 }

 .link {
     text-decoration: none;
 }

 .list {
     list-style: none;
 }

 /* ----- Header ----- */

 .header {
     background-color: var(--white-bc-color);
 }

/* --- header-logo --- */


.header-logo {
    color: var(--accent-color);
}
.header-logo-black {
    color: var(--primary-text-color);
}

/* --- header-list --- */

.header-link {
    color: var(--primary-text-color);
}
.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}


/* --- header-address --- */
.header-address-link {
    color: var(--secondary-text-color);
}
.header-address-link:hover,
.header-address-link:focus {
    color: var(--accent-color);  
}

/* ----- Hero ----- */

.hero {
    background-color: var(--secondary-bc-color);
}
.hero-title {
    color: var(--white-bc-color);
}
.hero-btn {
    background-color: var(--accent-color);
    color: var(--white-bc-color);
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #188ce8;
}

/* --- Features --- */

.features {
    background-color: var(--primary-bc-color);
} 
.features-top-text {
    color: var(--primary-text-color);
}
.features-text {
    color: var(--secondary-text-color);
}

/* --- Чем мы занимаемся --- */

.work {
    background-color: var(--primary-bc-color);
} 
.work-title {
    color: var(--primary-text-color);
}

/* --- Наша команда --- */

.team {
    background-color: var(--team-bc-color);
}
.team-title {
    color: var(--primary-text-color);
}
.team-name {
    color: var(--primary-text-color);
}
.team-text {
    color: var(--secondary-text-color);
}

/* ----- Контакты ----- */

.footer {
    background-color: var(--secondary-bc-color);
}
.footer-logo {  
    color: var(--accent-color);
}
.footer-logo-white {
    color: var(--white-bc-color);
}
.footer-address-street {
    color: var(--white-bc-color);
}
.footer-address-link {
    color: var(--secondary-text-color) ;
}
.footer-address-link:hover,
.footer-address-link:focus {
    color: var(--accent-color);
}

/* Portfolio */

.portfolio-page {
    background-color: var(--white-bc-color);
    color: var(--primary-text-color);
}

/* ----- Portfolio ----- */

.portfolio {
    background-color: var(--white-bc-color);
}
.portfolio-logo {
    color: var(--accent-color);
}
.portfolio-logo-black {
    color: var(--primary-text-color);
}
.portfolio-link {
    color: var(--primary-text-color);
}
.portfolio-link:hover,
.portfolio-link:focus {
    color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}


.portfolio-address-link {
    color: var(--secondary-text-color);
}
.portfolio-address-link:hover,
.portfolio-address-link:focus {
    color: var(--accent-color);
}

/* ----- filter ----- */

.filter {
    background-color: var(--primary-bc-color);
}
.filter-btn {
    background-color: var(--team-bc-color);
    color: var(--primary-text-color);
    cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
}
.filter-btn.current {
    background-color: var(--accent-color);
}

/* ----- footer ----- */

.portfolio-footer {
    background-color: var(--secondary-bc-color);
}
.portfolio-footer-logo {  
    color: var(--accent-color);
}
.portfolio-footer-logo-white {
    color: var(--white-bc-color);
}
.contacts-link-street {
    color: var(--white-bc-color);
}
.contacts-link {
    color: var(--secondary-text-color) ;
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

