 .start-page {
     background-color: white;
     color: black;
 }

 .list {
     list-style: none;
 }

 /* ----- Header ----- */

 .logo-blue {
     color: blue;
 }

 .logo-black {
     color: black;
 }




